/* contact css start  */
/* form section start  */
main .contact-container {
    max-width:1220px;
    margin: 0 auto;
    padding: 40px 0px 80px 0px;
    overflow: hidden;
}
main .contact-container .contact-content .info-container .company-info-content .info-label{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    font-family: "lato";
    color: rgb(51, 51, 51);
}
main .contact-container .contact-content .form-container .section-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: "signika";
    color: rgb(36, 36, 36);
}
main .contact-container .contact-content .form-container .form-control {
    border: 2px solid #E4E4E5;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
}

main .contact-container .contact-content .form-container .form-control:focus {
    border-color:rgb(199, 199, 199);
    box-shadow: 0 0 0 0.2rem rgba(247, 248, 248, 0.15);
}

main .contact-container .contact-content .form-container textarea.form-control {
    min-height: 200px;
    resize: vertical;
}
